<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.asgard.infra.mapper.JsonDataMapper">

    <delete id="deleteByDate">
        DELETE
        FROM asgard_orch_json_data
        <where>
            CREATION_DATE <![CDATA[<]]> #{time}
        </where>
    </delete>
</mapper>
