<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.asgard.infra.mapper.SagaInstanceC7nMapper">



    <select id="statisticsFailure" resultType="io.choerodon.asgard.api.vo.SagaInstanceFailureVO">
        SELECT
        date(asi.CREATION_DATE) AS CREATION_DATE,
        COUNT(*) AS totalCount,
        SUM(asi.`status` = 'FAILED') AS failureCount,
        (SUM(asi.`status` = 'FAILED') / COUNT(*))*100 AS percentage
        FROM
        asgard_saga_instance asi
        WHERE
        1=1
        <if test="sourceId != null">
            AND asi.FD_LEVEL = 'organization'
            AND asi.SOURCE_ID = #{sourceId}
        </if>
        AND asi.CREATION_DATE &gt; #{startTime}
        AND asi.CREATION_DATE &lt;  #{endTime}
        GROUP BY
        date(asi.CREATION_DATE)
    </select>

    <select id="statisticsFailureList" resultType="io.choerodon.asgard.infra.dto.SagaInstanceDTO">
        SELECT
        asi.*
        FROM
        asgard_saga_instance asi
        WHERE
        asi.`status` = 'FAILED'
        <if test="sourceId != null">
            AND asi.FD_LEVEL = 'organization'
            AND asi.SOURCE_ID = #{sourceId}
        </if>
        AND asi.CREATION_DATE &gt; #{startTime}
        AND asi.CREATION_DATE &lt;  #{endTime}
    </select>
</mapper>
