<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.asgard.infra.mapper.SagaInstanceMapper">

    <select id="fulltextSearchInstance_COUNT" resultType="Long">
        SELECT COUNT(*) FROM asgard_saga_instance asi
        <where>
            <if test="level != null">
                AND asi.FD_LEVEL=#{level}
            </if>
            <if test="sourceId != null">
                AND asi.SOURCE_ID=#{sourceId}
            </if>
            <if test="sagaCode != null">
                AND concat(concat(asi.saga_code, '-'), asi.id) LIKE concat(concat('%',#{sagaCode}),'%')
            </if>
            <if test="status != null">
                <choose>
                    <when test="status == 'COMPLETED'">
                        AND (asi.status = #{status} OR asi.status = 'NON_CONSUMER')
                    </when>
                    <otherwise>
                        AND asi.status = #{status}
                    </otherwise>
                </choose>
            </if>
            <if test="refType != null">
                AND asi.ref_type LIKE concat(concat('%',#{refType}),'%')
            </if>
            <if test="refId != null">
                AND asi.ref_id LIKE concat(concat('%',#{refId}),'%')
            </if>
            <if test="params != null">
                AND (
                concat(concat(asi.saga_code, '-'), asi.id) LIKE concat(concat('%',#{params}),'%') OR
                asi.ref_type LIKE concat(concat('%',#{params}),'%') OR
                asi.ref_id LIKE concat(concat('%',#{params}),'%')
                )
            </if>
        </where>
    </select>

    <select id="fulltextSearchInstance" resultType="io.choerodon.asgard.api.vo.SagaInstanceDetails">
        SELECT
        asi.ID AS ID,
        asi.SAGA_CODE AS SAGA_CODE,
        (
        SELECT
        aos.description
        FROM
        asgard_orch_saga aos
        WHERE
        aos. CODE = asi.SAGA_CODE
        ) AS description,
        (
        SELECT
        aos.service
        FROM
        asgard_orch_saga aos
        WHERE
        aos. CODE = asi.SAGA_CODE
        ) AS service,
        asi.FD_LEVEL AS LEVEL,
        asi.REF_TYPE AS REF_TYPE,
        asi.REF_ID AS REF_ID,
        asi.START_TIME AS START_TIME,
        asi.END_TIME AS END_TIME,
        asi.STATUS AS STATUS,
        sum(CASE WHEN asti.STATUS = 'COMPLETED' THEN 1 ELSE 0 END) AS COMPLETED_COUNT,
        sum(CASE WHEN asti.STATUS = 'RUNNING' THEN 1 ELSE 0 END) AS RUNNING_COUNT,
        sum(CASE WHEN asti.STATUS = 'ROLLBACK' THEN 1 ELSE 0 END) AS ROLLBACK_COUNT,
        sum(CASE WHEN asti.STATUS = 'FAILED' THEN 1 ELSE 0 END) AS FAILED_COUNT,
        sum(CASE WHEN asti.STATUS = 'WAIT_TO_BE_PULLED' THEN 1 ELSE 0 END) AS WAIT_TO_BE_PULLED_COUNT
        FROM
        asgard_saga_instance asi
        LEFT OUTER JOIN asgard_saga_task_instance asti ON asi.ID = asti.SAGA_INSTANCE_ID
        WHERE 1 = 1
        <if test="level != null">
            AND asi.FD_LEVEL=#{level}
        </if>
        <if test="sourceId != null">
            AND asi.SOURCE_ID=#{sourceId}
        </if>
        <if test="sagaCode != null">
            AND concat(concat(asi.saga_code, '-'), asi.id) LIKE concat(concat('%',#{sagaCode}),'%')
        </if>
        <if test="status != null">
            <choose>
                <when test="status == 'COMPLETED'">
                    AND (asi.status = #{status} OR asi.status = 'NON_CONSUMER')
                </when>
                <otherwise>
                    AND asi.status = #{status}
                </otherwise>
            </choose>
        </if>
        <if test="refType != null">
            AND asi.ref_type LIKE concat(concat('%',#{refType}),'%')
        </if>
        <if test="refId != null">
            AND asi.ref_id LIKE concat(concat('%',#{refId}),'%')
        </if>
        <if test="params != null">
            AND (
            concat(concat(asi.saga_code, '-'), asi.id) LIKE concat(concat('%',#{params}),'%') OR
            asi.ref_type LIKE concat(concat('%',#{params}),'%') OR
            asi.ref_id LIKE concat(concat('%',#{params}),'%')
            )
        </if>
        GROUP BY
        asi.id
        order by asi.id desc
    </select>

    <resultMap id="resultCount" type="map">
        <result column="FAILED_COUNT" property="FAILED_COUNT" javaType="integer"/>
        <result column="RUNNING_COUNT" property="RUNNING_COUNT" javaType="integer"/>
        <result column="COMPLETED_COUNT" property="COMPLETED_COUNT" javaType="integer"/>
        <result column="ROLLBACK_COUNT" property="ROLLBACK_COUNT" javaType="integer"/>
    </resultMap>

    <select id="statisticsByStatus" resultMap="resultCount">
        select
        sum(case when STATUS='FAILED' then 1 else 0 end) as FAILED_COUNT,
        sum(case when STATUS='RUNNING' then 1 else 0 end) as RUNNING_COUNT,
        sum(case when STATUS='COMPLETED' then 1
        when STATUS='NON_CONSUMER' then 1
        else 0 end) as COMPLETED_COUNT,
        sum(case when STATUS='ROLLBACK' then 1 else 0 end) as ROLLBACK_COUNT
        FROM asgard_saga_instance
        WHERE
        1=1
        <if test="level != null">
            AND FD_LEVEL=#{level}
        </if>
        <if test="sourceId != null">
            AND SOURCE_ID=#{sourceId}
        </if>
    </select>

    <select id="statisticsFailure" resultType="io.choerodon.asgard.api.vo.SagaInstanceFailureVO">
        SELECT
        date(asi.CREATION_DATE) AS CREATION_DATE,
        COUNT(*) AS totalCount,
        SUM(asi.`status` = 'FAILED') AS failureCount,
        (SUM(asi.`status` = 'FAILED') / COUNT(*))*100 AS percentage
        FROM
        asgard_saga_instance asi
        WHERE
        1=1
        <if test="sourceId != null">
            AND asi.FD_LEVEL = #{level}
            AND asi.SOURCE_ID = #{sourceId}
        </if>
        AND asi.CREATION_DATE &gt; #{startTime}
        AND asi.CREATION_DATE &lt;  #{endTime}
        GROUP BY
        date(asi.CREATION_DATE)
    </select>

    <select id="statisticsFailureList" resultType="io.choerodon.asgard.infra.dto.SagaInstanceDTO">
        SELECT
        asi.*
        FROM
        asgard_saga_instance asi
        WHERE
        asi.`status` = 'FAILED'
        <if test="sourceId != null">
            AND asi.FD_LEVEL = 'organization'
            AND asi.SOURCE_ID = #{sourceId}
        </if>
        AND asi.CREATION_DATE &gt; #{startTime}
        AND asi.CREATION_DATE &lt;  #{endTime}
    </select>

    <select id="selectFailedTimes" resultType="java.util.Map">
        <![CDATA[
        SELECT
            DATE_FORMAT(start_time, '%Y-%m-%d') days,
            COUNT(id)
            count
        FROM
            asgard_saga_instance
        WHERE
            STATUS = 'FAILED'
            AND start_time BETWEEN #{begin}
            AND #{end}
        GROUP BY
            days
        ]]>
    </select>

    <select id="selectDetails" resultType="io.choerodon.asgard.api.vo.SagaInstanceDetails">
        SELECT
            asi.ID                                                             AS ID,
            asi.SAGA_CODE                                                      AS SAGA_CODE,
            (
                SELECT
                    aos.description
                FROM
                    asgard_orch_saga aos
                WHERE
                    aos. CODE = asi.SAGA_CODE
            ) AS description,
            (
                SELECT
                    aos.service
                FROM
                    asgard_orch_saga aos
                WHERE
                    aos. CODE = asi.SAGA_CODE
            ) AS service,
            asi.FD_LEVEL                                                       AS LEVEL,
            asi.REF_TYPE                                                       AS REF_TYPE,
            asi.REF_ID                                                         AS REF_ID,
            asi.START_TIME                                                     AS START_TIME,
            asi.END_TIME                                                       AS END_TIME,
            sum(CASE WHEN asti.STATUS = 'COMPLETED' THEN 1 ELSE 0 END)         AS COMPLETED_COUNT,
            sum(CASE WHEN asti.STATUS = 'RUNNING' THEN 1 ELSE 0 END)           AS RUNNING_COUNT,
            sum(CASE WHEN asti.STATUS = 'ROLLBACK' THEN 1 ELSE 0 END)          AS ROLLBACK_COUNT,
            sum(CASE WHEN asti.STATUS = 'FAILED' THEN 1 ELSE 0 END)            AS FAILED_COUNT,
            sum(CASE WHEN asti.STATUS = 'WAIT_TO_BE_PULLED' THEN 1 ELSE 0 END) AS WAIT_TO_BE_PULLED_COUNT
        FROM
            asgard_saga_instance asi
                LEFT OUTER JOIN asgard_saga_task_instance asti ON asi.ID = asti.SAGA_INSTANCE_ID
        WHERE asi.ID = #{id}
        GROUP BY
            asi.id
    </select>


    <select id="selectUnConfirmedTimeOutInstance" resultType="io.choerodon.asgard.infra.dto.SagaInstanceDTO">
        SELECT asgard_saga_instance.*
        FROM asgard_saga_instance
        WHERE status = 'UN_CONFIRMED'
          AND unix_timestamp(CREATION_DATE) + #{timeOut} &lt; unix_timestamp(#{now})
    </select>

    <select id="selectCompletedIdByDate" resultType="java.lang.Long">
        SELECT id
        FROM asgard_saga_instance
        WHERE status = 'COMPLETED'
          AND unix_timestamp(LAST_UPDATE_DATE) + #{fromNowSeconds} &lt; unix_timestamp(#{now})
    </select>

    <delete id="deleteBatchByIds" parameterType="java.util.List">
        DELETE FROM asgard_saga_instance
        WHERE id IN
        <foreach item="item" collection="ids" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByOptions">
        DELETE
        FROM asgard_saga_instance
        <where>
            CREATION_DATE <![CDATA[<]]> #{time}
            <if test="retainFailed">
                AND `status` != 'FAILED'
            </if>
        </where>
    </delete>


</mapper>
